.custom-navbar.light{
    background-color:bisque;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-link.light{
    text-decoration: none;
    color: black;

    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    margin: 0px;
    padding: 0px;    
}

.navbar-link:hover.light{
    background-color: orange;
}

.navbar-button.light{
    background-color: inherit;
    color: black;

    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    margin: 0px;
    padding: 0px;    
}

.navbar-button:hover.light{
    background-color: orange;
}

.navbar-link-text.light{
    text-align: center;
    margin: 5px 10px;
    padding: 0px;
}



.custom-navbar.dark{
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-link.dark{
    text-decoration: none;
    color: white;

    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-color: black;

    margin: 0px;
    padding: 0px;    
}

.navbar-link:hover.dark{
    background-color: darkviolet;
}

.navbar-button.dark{
    background-color: inherit;
    color: white;

    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    margin: 0px;
    padding: 0px;    
}

.navbar-button:hover.dark{
    background-color: darkviolet;
}

.navbar-link-text.dark{
    text-align: center;
    margin: 5px 10px;
    padding: 0px;
}